* {
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
}

body{
  background: linear-gradient(to bottom, #99ccff 0%, #ffffff 100%);
  /*background: linear-gradient(to bottom, #ffff99 0%, #ffffff 100%);*/
  color:#f9fbfc;
  box-sizing: border-box;
  font-family: 'Questrial', sans-serif;x
}

#navigator {
  background-color: #157491;
  color: white;
  display: block;
  font-family: helvetica;
  font-size: 27px;
  padding-top:7px;
  padding-bottom: 3px;
}

#desplegable {
  font-family: helvetica;
  height: 16px;
  margin-top: -7px;
  width: 113px;
}

ul, ol {
 list-style: none;
}

.nav li a {
  background-color: #157491;
  color: white;
  font-family: helvetica;
  font-size: 15px;
  text-decoration: none;
  padding: 12.5px 14px;
  display: block;
  width: 113px;
}

.nav li ul {
  display: none;
}

.nav li:hover > ul {
  display:block;
}

.nav li a:hover {
background: #1b83a3;
}

.nav > li {
  float: left;
}

.nav-button {
  background-color: #2F9292;
  border-radius: 4px;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 2px;
  padding: 9px 12px;
  cursor:pointer;
}

.nav-button:hover {
  background-color: #5cb5af;
  color:#fcefbf;
}

#mainLogo {
  text-decoration: none;
  position: relative;
  left:15%;
  cursor:pointer;
}

#mainLogo:visited {
  color:white;
}

#mainLogo:hover {
  color: #c5e2ff;
}

.fa-search {
  font-size: 18px;
  position: relative;
  right: 35px;
  top:-4px;
  opacity: 0.6;
}

#sedes {
  font-size: 18px;
  margin-top: 0;
  padding-top: 0;
  position: fixed;
  right: 40%;
  top: 6%;

}

a.sedes {
  padding-top:0;
  margin-top: 0;
}

#ubicacion {
  font-size: 20px;
  color: black;
}

#generations {
  background-color: blue;
  display: block;
  position: relative;
  right: 40%;
  color: black;
  text-decoration: none;
}

#genSprints {
  background-color: #157491;
  display: block;
  font-size: 25px;
  padding-left: 10px;
  position: relative;
  padding: 3px;
  border-radius: 4px;
  left: 12.5%;
  margin-top: 3%;
  width: 47%;
}

.sprint {
  margin-right: 60px;
  text-decoration: none;
  color: white;
}

#botonEstudiante {
  border-radius: 50%;
  background-color: white;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-bottom: 5px;
  position:relative;
}

#classroom {
  display: block;
  position: relative;
  left: 13%;
  margin-top: 8%;
}

#search {
  background-color: #3aa4c4;
  border: none;
  border-radius: 3px;
  color:white;
  display: inline-block;
  padding: 5px;
  position: relative;
  top: -1vh;
  opacity: 0.6;
  height: 16px;
  margin-left: 3px;
}

#search::placeholder {
  color: white;
}

#firstGen {
  background-color: #157491;
  color:white;
  display: block;
  font-size: 25px;
  padding-left: 10px;
  position: relative;
  padding: 3px;
  border-radius: 4px;
  left: 3%;
  margin-top: 3%;
  width: 100%;
  top:10px;
}

#secondGen {
  background-color: #157491;
  color:white;
  display: block;
  font-size: 25px;
  padding-left: 10px;
  position: relative;
  padding: 3px;
  border-radius: 4px;
  left: 3%;
  margin-top: 3%;
  width: 100%;
  top:10px;
}
