* {
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
}

body{
  background: linear-gradient(to bottom, #003366 0%, #33cccc 100%);
  color:#f9fbfc;
  box-sizing: border-box;
  font-family: 'Questrial', sans-serif;x
}

#navigator {
  background-color: #084b76;
  color: #157491;
  display: block;
  font-family: helvetica;
  font-size: 27px;
  padding-top:7px;
  padding-bottom: 3px;
}

#desplegable {
  background-color: #084b76;
  font-family: helvetica;
  font-size: 15px;
  height: 19px;
  margin-top: -7px;
  width: 113px;
}

#desplegable:hover {
    color: #68cdd1;
}

ul, ol {
 list-style: none;
}

.nav li a {
  background-color: #084b76;
  color: #c5e2ff;
  font-family: helvetica;
  font-size: 15px;
  text-decoration: none;
  padding: 12.5px 14px;
  display: block;
  width: 113px;
}

.nav li ul {
  display: none;
}

.nav li:hover > ul {
  display:block;
}

.nav li a:hover {
background: #1b83a3;
}

.nav > li {
  float: left;
}

#mainLogo {
  color: #c5e2ff;
  text-decoration: none;
  font-family: 'IBM Plex Sans', sans-serif;
  position: relative;
  left:14%;
  cursor:pointer;
}

#mainLogo:visited {
  color:#c5e2ff;
}

#mainLogo:hover {
  color: #c5e2ff;
}

.fa-search {
  color: white;
  font-size: 16px;
  position: relative;
  right: 35px;
  top:-4px;
  opacity: 0.6;
}

#sedes {
  color:#c5e2ff;
  font-size: 18px;
  margin-top: 0;
  padding-top: 0;
  position: fixed;
  right: 39%;
  top: 6%;

}

a.sedes {
  padding-top:0;
  margin-top: 0;
}

#ubicacion {
  font-size: 20px;
  color: black;
}

#generations {
  background-color: blue;
  display: block;
  position: relative;
  right: 40%;
  color: black;
  text-decoration: none;
}

#genSprints {
  background-color: #157491;
  display: block;
  font-size: 25px;
  padding-left: 10px;
  position: relative;
  padding: 3px;
  border-radius: 4px;
  left: 12.5%;
  margin-top: 3%;
  width: 47%;
}

.sprint {
  margin-right: 60px;
  text-decoration: none;
  color: white;
}

#botonEstudiante {
  border-radius: 50%;
  background-color: white;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-bottom: 5px;
  position:relative;
}

#classroom {
  display: block;
  position: relative;
  left: 40%;
  margin-top: 8%;
}

#search {
  background-color: #2e96ad;
  border: none;
  border-radius: 3px;
  color:white;
  display: inline-block;
  padding: 5px;
  position: relative;
  top: -1vh;
  opacity: 0.6;
  height: 16px;
  margin-left: 28px;
  margin-top: 8px;
}

#search:hover {
  background-color:#3cabc1;
}

#search::placeholder {
  color: white;
}

.allGens{
  background-color: #157491;
  color:white;
  display: block;
  font-family: 'Source Code Pro', monospace;
  font-size: 18px;
  padding-left: 10px;
  position: relative;
  padding: 3px;
  border-radius: 4px;
  left: 3%;
  margin-top: 3%;
  width: 100%;
  top:10px;
}

.genTwo {
  background-color: #497AB2 ;
}

.inactive {
  background-color: pink;
  border-radius: 50%;
}

.newElementStyle {
  color:black;
}
