/*
 * Estilos de tu proyecto
 */
body{
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
    margin: 0;
    padding: 0;
}

.login *{
    background-color: lightgray;
    border: none;
    border-radius: 3px;
    display: inline-block;
    font-family: 'Source Code Pro', monospace;
    left: 3vh;
    padding: 5px;
    position: relative;
    top: 3vh;
}

.hello{
    display: inline;
    font-size: 22px;
    left: 3vh;
    position: relative;
}
#helloName{
    display: none;
}