* {
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
}

body{
  background: linear-gradient(to bottom, #003366 0%, #33cccc 100%);
  color:#f9fbfc;
  box-sizing: border-box;
  font-family: 'Questrial', sans-serif;x
}

#mainPageBlock {
  position: relative;
  left: 37%;
  margin-top: 10%;
}

#appTitle {
  font-size: 52px;
}

 #appSubtitle{
   left: 13.5%;
   position: relative;
   margin-bottom: 20px;
}

.login *{
    background-color: #2e96ad;
    border: none;
    color:white;
    display: inline-block;
    font-family: 'Source Code Pro', monospace;
    left: 3vh;
    padding: 5px;
    position: relative;
    top: 3vh;
}

#login {
    box-sizing: border-box;
    padding-bottom: 10px;
    position: relative;
    right: 24px;
    width: 17%;
}

#name {
  margin-bottom: 15px;
  width: 311px;
}

#name::placeholder {
  color:white;
}

#name:hover {
  background-color: #3cabc1;
}

#password {
  margin-bottom: 15px;
  width: 311px;
}

#password::placeholder {
  color:white;
}

#password:hover {
  background-color: #3cabc1;
}

#send {
  background-color: #106286;
}

#send:hover {
  background-color: #207499;
}

#helpLink {
  color: #abcff2;
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}

.hello{
    display: inline;
    font-size: 22px;
    left: 3vh;
    position: relative;
}

#helloName{
    color: #abcff2;
    display: none;
    font-size: 30px;
    margin: 0;
    top: -25px;
    left:41px;
    position: relative;
}

/* #sede{
    display: none;
} */

.sedes{
    display: inline-block;
    font-weight:100;
    color: #157491;
    left: 10px;
    padding: 20px;
    position: relative;
    top: 20px;
    text-decoration: none;
}

#sedes {
    color: #abcff2;
    font-family: helvetica;
    font-size: 19px;
    margin-top: 3%;
    position: relative;
    right: 50px;
}

a.sedes:hover {
    font-weight: bold;
}

.containerStudents{
    display: inline-block;
    left: 3vh;
    position: relative;
    top: 8vh;
}

/* #hide{
    display: none;
} */
